<h1>List of Borrowers</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name and Surname</th>
      <th scope="col">Book</th>
      <th scope="col">ISBN</th>
      <th scope="col">Borrow Date</th>
      <th scope="col">Return Date</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let borrower of borrowers">
      <th>{{borrower.id}}</th>
      <th>{{borrower.reader.name}} {{borrower.reader.surname}}</th>
      <th>{{borrower.book.title}}</th>
      <th>{{borrower.book.isbn}}</th>
      <th>{{borrower.borrowDate}}</th>
      <th>{{borrower.returnDate}}</th>
      <th><button (click)="editBorrower(borrower)" type="button" class="btn btn-outline-info">Edit</button></th>
      <th><button (click)="deleteBorrowerFromDatabase(borrower.id, borrower.book.id)" type="button" class="btn btn-outline-danger">Delete</button></th>
    </tr>
  </tbody>
</table>
<button [routerLink]="['/addBorrower']" type="button" class="btn btn-outline-success">Add Borrower</button>
