<h1>List of Books</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
      <th scope="col">Is Available</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <th>{{book.id}}</th>
      <th>{{book.title}}</th>
      <th>{{book.author}}</th>
      <th>{{book.isbn}}</th>
      <th>{{book.isAvailable}}</th>
      <th><button (click)="editBook(book.id)" type="button" class="btn btn-outline-info">Edit</button></th>
      <th><button (click)="deleteBookFromDatabase(book.id)" type="button" class="btn btn-outline-danger">Delete</button></th>
    </tr>
  </tbody>
</table>
<button [routerLink]="['/addBook']" type="button" class="btn btn-outline-success">Add Book</button>
